.home{
    flex: 4;
    padding: 1.5em;
    min-height: 100vh;
}
.cards-container{
    display: flex;
    flex-direction: row;
}
.ps-sidebar-container-test-id{

}
.ps-broken{
    min-height: 100vh !important;
}
.titulo{
    text-align: center;
    font-size: 2em;
    color: #0f73f6;
    ;
}
.subtitulo{
    color: rgb(187, 186, 186);
    font-size: 1.2em;
}
.sectores{
    margin-top: 1em;
}
.logo{
    width: 50%;
    display: block;
    object-fit: contain;
}

.homeWidgets{
    display: flex;
}